.btn {
  font-size: xx-large;
  color: #8D5316;
  padding: 0px 5px;
}

.btn:hover {
  animation: pulse 2s infinite;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 4px solid #8D5316;
  animation: pulse 2s 2;
}

.btn:disabled {
  animation: none;
}
