.card {
  width: 65%;
  background-color: rgba(65, 60, 60, 0.671);
  font-size: x-large;
  border-color: #8D5316;
  border-width: 5px;
}

@media only screen and (max-width: 600px){
  .card {
    width: 100%;
  }
}
