@import url('../css/button.css');
@import url('../css/card.css');

.select-classe {
  font-size: 50px;
}

fa-icon {
  font-size: 35px;
}

@media only screen and (max-width: 600px){
  .select-classe {
    font-size: 45px;
  }
}
