<div class="row">

  <div class="col-12 text-center mb-5">
    <h2>Création personnage</h2>
  </div>

  <!-- Selection classe -->
  <div class="col-12 d-flex justify-content-center">
    <div class="card">
      <div class="card-body d-flex justify-content-center flex-wrap">

        <ng-container *ngFor="let classe of classes">
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <button class="btn select-classe" (click)="generationPersonnage(classe)">
              {{classe.name}}
              <ng-container *ngIf="selectedClasse != null && selectedClasse.name === classe.name">
                <fa-icon [icon]="faCheck"></fa-icon>
              </ng-container>
            </button>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <!-- Choix des stats -->
  <ng-container *ngIf="selectedClasse">
    <div class="col-12 d-flex justify-content-center mt-4">
      <div class="card">
        <div class="card-body row">

          <!-- Image -->
          <div class="col-12 col-md-3 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/images/Platypus_Running.gif">
          </div>

          <!-- Caractéristiques -->
          <div class="col-12 col-md-9 ">

            <!-- Infos -->
            <div class="row d-flex align-items-center">
              <div class="col-12 col-md-7">
                <h3>Klaff the platypus knight <fa-icon class="btn" [icon]="faPencilAlt"></fa-icon>
                </h3>
              </div>
              <div class="col-12 col-md-3">
                <h3>{{selectedClasse.name}}</h3>
              </div>
              <div class="col-12 col-md-2 text-right">
                <button class="btn" (click)="generationPersonnage(selectedClasse)">Reroll</button>
              </div>
            </div>

            <!-- Stats -->
            <div class="row d-flex py-4">
              <div class="col-12 col-md-6">

                <div class="col-12 statistique m-0 p-0 d-flex justify-content-between">
                  <div class="">
                    Niveau: {{selectedClasse.niveau}}
                  </div>
                </div>

                <div class="col-12 statistique m-0 p-0 d-flex justify-content-between">
                  HP: {{selectedClasse.hp}}
                  <div class="">
                    <button class="btn" (click)="plusStatistique('hp')"
                    [disabled]="disableStatButton('hp', '+')">
                      <fa-icon [icon]="faPlusSquare"></fa-icon>
                    </button>
                    <button class="btn" (click)="minusStatistique('hp')"
                    [disabled]="disableStatButton('hp', '-')">
                      <fa-icon [icon]="faMinusSquare"></fa-icon>
                    </button>
                  </div>
                </div>

                <div class="col-12 statistique m-0 p-0 d-flex justify-content-between">
                  MP: {{selectedClasse.mp}}
                  <div class="">
                    <button class="btn" (click)="plusStatistique('mp')"
                    [disabled]="disableStatButton('mp', '+')">
                      <fa-icon [icon]="faPlusSquare"></fa-icon>
                    </button>
                    <button class="btn" (click)="minusStatistique('mp')"
                    [disabled]="disableStatButton('mp', '-')">
                      <fa-icon [icon]="faMinusSquare"></fa-icon>
                    </button>
                  </div>
                </div>

              </div>
              <div class="col-12 col-md-6">

                <div class="col-12 statistique m-0 p-0 d-flex justify-content-between">
                  Force: {{selectedClasse.force}}
                  <div class="">
                    <button class="btn" (click)="plusStatistique('force')"
                    [disabled]="disableStatButton('force', '+')">
                      <fa-icon [icon]="faPlusSquare"></fa-icon>
                    </button>
                    <button class="btn" (click)="minusStatistique('force')"
                    [disabled]="disableStatButton('force', '-')">
                      <fa-icon [icon]="faMinusSquare"></fa-icon>
                    </button>
                  </div>
                </div>

                <div class="col-12 statistique m-0 p-0 d-flex justify-content-between flex-wrap">
                  Intelligence: {{selectedClasse.intelligence}}
                  <div class="">
                    <button class="btn" (click)="plusStatistique('intelligence')"
                    [disabled]="disableStatButton('intelligence', '+')">
                      <fa-icon [icon]="faPlusSquare"></fa-icon>
                    </button>
                    <button class="btn" (click)="minusStatistique('intelligence')"
                    [disabled]="disableStatButton('intelligence', '-')">
                      <fa-icon [icon]="faMinusSquare"></fa-icon>
                    </button>
                  </div>
                </div>

                <div class="col-12 statistique m-0 p-0 d-flex justify-content-between">
                  Dextérité: {{selectedClasse.dexterite}}
                  <div class="">
                    <button class="btn" (click)="plusStatistique('dexterite')"
                    [disabled]="disableStatButton('dexterite', '+')">
                      <fa-icon [icon]="faPlusSquare"></fa-icon>
                    </button>
                    <button class="btn" (click)="minusStatistique('dexterite')"
                    [disabled]="disableStatButton('dexterite', '-')">
                      <fa-icon [icon]="faMinusSquare"></fa-icon>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Points caracs -->
            <div class="row pt-4">
              <div class="col-12 col-md-6 text-center">
                Points de caractéristiques totals: {{selectedClasse.pointsCaracTotal}}
              </div>

              <div class="col-12 col-md-6 text-center">
                Points de caractéristiques restants: {{selectedClasse.pointsCaracRestant}}
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center mt-2">
      <button class="btn termine">Terminé</button>
    </div>

  </ng-container>

</div>
