<div class="row">

  <div class="col-12 text-center mb-5">
    <h2>Création personnage</h2>
  </div>

  <div class="col-12 d-flex justify-content-center">
    <div class="card">
      <div class="card-body d-flex justify-content-center flex-wrap">

        <ng-container *ngFor="let classe of classes">
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="btn select-classe" (click)="generationPersonnage(classe)">
              {{classe.name}}<fa-icon *ngIf="selectedClasse === classe" [icon]="faCheck"></fa-icon>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>




</div>
