<div class="row">
  <div class="col-12">
    <h1 class="text-center">PLATYPUS DUNGEON</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <form>

      <div class="col-12">
        <label for="email">Email</label>
        <input type="email" id="email">
      </div>
      <div class="col-12">
        <label for="password">Mot de passe</label>
        <input type="password" id="password">
      </div>

    </form>

    <div class="row bg-success">
      <div class="col-6 bg-warning">
        <div class="btn btn-primary">Connexion</div>
      </div>
      <div class="col-6 bg-danger">
        <div class="btn btn-primary">S'inscrire</div>
      </div>
    </div>
  </div>
</div>
