@import url('../css/button.css');
@import url('../css/card.css');

.alert-danger {
  display:inline-block;
  background: none !important;
  border: none!important;
}

.alert-danger strong {
  color: rgba(110, 1, 1, 0.678)
}

input {
  font-family: 'Pixel12x10';
}
